$blue-000: #dbeafe;
$blue-100: #bfdbfe;
$blue-200: #93c5fd;
$blue-300: #60a5fa;

$green-000: #dcfce7;
$green-100: #bbf7d0;
$green-200: #86efac;
$green-300: #22c55e;

$grey-dk-000: #6b7280;
$grey-dk-100: #4b5563;
$grey-dk-200: #374151;
$grey-dk-250: #1f2937;
$grey-dk-300: #111827;

$grey-lt-000: #ffffff;
$grey-lt-100: #f9fafb;
$grey-lt-200: #f3f4f6;
$grey-lt-300: #e5e7eb;

$body-background-color: #ffffff;
$sidebar-color: #f3f4f6;
$search-background-color: #ffffff;
$table-background-color: #ffffff;
$code-background-color: #f3f4f6;

$body-heading-color: #1f2937;
$body-text-color: #1f2937;
$nav-child-link-color: #4b5563;
$link-color: #2563eb;
$btn-primary-color: #2563eb;
$base-button-color: #f3f4f6;

$border-color: #e5e7eb;
